/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

article a, .blockContent a, .entry-content a, .post div a {
    text-decoration: underline;
    color: darkblue;
}

.navListItemActive {
    font-weight: bold;
}

.wrapper-wide {
    max-width: 100% !important;
}

.wrapper-wide .wrapper {
    max-width: 100% !important;
}

.wrapper-wide .mainContainer {
    padding: 0;
}

/* Dropdown CSS */

/* Dropdown Button */
.dropbtn {
    border: 0;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    font-size: 16px;
    font-size: 1em;
    font-weight: 300;
    height: 32px;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    padding: 6px 10px;
    background-color: #1c233c;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

/* Kill Diffbot Logo on Enhance page */

.sc-kafWEX {
    display: none !important;
}